<p-menubar [model]='items'
 [style]="{
   'margin':'0px !important',
   'top': '0',
   'left': '0',
   'margin-top': '0px',
   'background-color': '#e0e0e0',
   'border-radius': '0px',
   'width': '100%',
   'height': '70px',
   'z-index': '997'
   }" 
 >
   <ng-template pTemplate='start'>
      <!-- <p style="font-size: 20px; font-weight: 500;">PrimeNG</p> -->
      <img src="../../../assets/img/primeng-logo-dark.svg" class="p-mt-1 p-mx-6">
   </ng-template> 
</p-menubar>

<!-- background-color: var(--surface-a);
height: 70px;
position: fixed;
top: 0;
left: 0;
width: 100%;
z-index: 997;
box-shadow: 0 0 4px rgb(0 0 0 / 25%);
border-bottom: 1px solid var(--surface-d);
display: flex;
align-items: center;
padding: 0 35px; -->
