<div class="p-col-10 p-md-6">
   <div class="p-panel p-component">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
         <div class="p-panel-header">
            <b>Ingredient Form</b>
         </div>
         <div class="p-panel-content" style="border-top: 1px solid #e0e0e0;">
            <div class="p-grid p-fluid p-formgrid">
               <div class="p-field p-col-10 p-md-6 p-lg-6 p-mt-3">
                  <span class="p-float-label">
                     <input type="text" name="name" id="float-input"  ngModel required  pInputText>
                     <label for="float-input">Name</label>
                  </span>
               </div>
               <div class="p-field p-col-10 p-md-6 p-lg-6 p-mt-3">
                  <span class="p-float-label">
                     <input type="text" name="amount" id="float-input" ngModel required pattern="^[1-9]+[0-9]*$" pInputText>
                     <label for="float-input">Amount</label>
                  </span>
               </div>
            </div>
            <button class="p-button p-component p-button-primary p-button-raised p-mr-1" type="submit">{{ editMode ? 'Update' : 'Add'}}</button>
            <button class="p-button p-component p-button-warning p-button-raised p-mr-1" (click) = 'onDelete()'  type="button" *ngIf= "editMode"> Delete </button>
            <button class="p-button p-component p-button-danger p-button-raised p-mr-1" (click) = 'onClear()' type="button"> Clear </button>
         </div>
      </form>
   </div>
</div>
