<div class="p-col-10 p-md-6">
   <div class="p-panel p-component">
      <form>
         <div class="p-panel-header">
            <b>Ingredient Form</b>
         </div>
         <div class="p-panel-content" style="border-top: 1px solid #e0e0e0;">
            <div class="p-grid p-fluid p-formgrid">
               <div class="p-field p-col-10 p-md-6 p-lg-6 p-mt-3">
                  <span class="p-float-label">
                     <input type="text" name="name" id="float-input" pInputText>
                     <label for="float-input">Name</label>
                  </span>
               </div>
               <div class="p-field p-col-10 p-md-6 p-lg-6 p-mt-3">
                  <span class="p-float-label">
                     <input type="text" name="amount" id="float-input" pInputText>
                     <label for="float-input">Amount</label>
                  </span>
               </div>
            </div>
            <button class="p-button-primary p-button-raised p-mr-1" icon='pi pi-plus' type="button" label='Add' pButton pRipple></button>
            <button class="p-button-warning p-button-raised p-mr-1" icon='pi pi-pencil' type="button" label='Update' pButton pRipple></button>
            <button class="p-button-danger p-button-raised p-mr-1" icon='pi pi-trash' type="button" label='Delete' pButton pRipple></button>
         </div>
      </form>
   </div>
</div>
